<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>总结</title>
    <link rel="stylesheet" href="static/hf.css"/>
</head>
<body>
{% if name == "中国" %}
    <h3>2013年出境人数最多的国家为中国，虽与德国同处世界出境人数最高的层级，可从数量来看中国已超越德国成为世界第一。</h3>
<p>中国超越德国成为出境人数最多的国家原因如下：
<li>我国综合国力不断增强，政府的政策相应放宽，例如丝绸之路让人们了解别国的文化；</li>
<li>我国就业人口GDP也相对应上升，因此人们生活水平的大幅度提高；</li>
<li>互联网时代使得人们对别国的文化、建筑、美食等等有着更多的向往；</li>
<li>旅游观念的转变，人们不再把目光仅限于国内，好奇驱使他们走出国门开拓视野</li></p>
<p>当前，中国居民的可支配收入也仍然会不断增加；
中国政府不断出台一系列对出境旅游利好的政策，更加简化与便捷出境旅游程序，更好地方便中国公民出境旅游。
出境旅游消费群体不断呈现出大众化、平民化的趋势，出境游消费群体不断向中低收入阶层扩展，向中等收入人群和中等消费水平转变。 </p>



{% else  %}
<p>GDP增长带动每国国民经济方面的宽裕。
离境人数多的国家一般经济较发达，人们收入水平较高。
入境人数多的国家从一开始的大都市发展到小国。猜想几年后主流国家依旧多人入境，但东南亚等小国会越来越受欢迎，带动当地旅游业发展。
墨西哥、西班牙等南美洲，泰国等东南亚小国在中高等收入水平国家来说是几年后较为热门的旅游地。
南亚的印度、东南亚的印度尼西亚、菲律宾和越南的入境人数将会继续呈现上升趋势，特别是越南。
中高等收入水平国家离境人数预测方面中国将会是此收入水平的领军者，越来越多的国民走向世界、开拓眼界。
中低等收入水平国家离境人数的领军国家则是印度，其它国家反而上升趋势较弱，与GDP水平有关。
中高等收入国家出入境人数对比可看出中国、德国出境>>入境，而法国、西班牙、泰国的出境人数>>入境人数。表明中国、德国前几年发展重心并不在旅游业上，而后几年中国“一带一路”或许会吸引更多的游客。法国、西班牙、泰国等国是以旅游业为重心的国家，后几年仍会继续大力发展旅游业。
中低等收入国家除印度外基本上出境人数<入境人数，大多都是发展旅游业。
在互联网发展的时代下，相信往后几年会越来越多人前往不同的国家，而目前许多国家已把旅游发展提上日程，猜测旅游业能大力带动各国的经济发展。</p>
{% endif %}

</body>
</html>
